
body{
    font-family:'Roboto' , sans-serif;
}

.nav{
    background-color: dimgray ;
    color: white;
    height: 80px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    width: 500px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.btn{
height: 40px;
width: 100px;
color: antiquewhite;
background-color: lightseagreen;
font-size: 15px;
box-shadow: 2px 2px black
}